.Meaning h3 {
  font-weight: 600;
  font-size: 29px;
  line-height: 29px;
  margin-bottom: 20px;
  color: black;
}
.Meaning .definition {
  font-size: 17px;
  opacity: 0.9;
  font-style: italic;
  color: #601099;
}

.Meaning .example {
  font-size: 17px;

  color: #70757a;
}
